
select#aspect_general_ChoiceLookupTransformer_field_chooser.loading {
    background-image: url('../images/authority_control/lookup-indicator.gif');
    background-repeat: no-repeat;
    background-position: 50%;

}
//
//#aspect_general_ChoiceLookupTransformer_div_lookup h2{
//    display: none;
//}
