// Extra DSpace variables
// ----------------------
$almost-white:           #f7f7f7 !default;
$center-section-padding-top: 20px;
$center-section-padding-bottom: 20px;
$artifact-title-font-size:         ceil($font-size-base * 1.1666) !default; // ~14px
